/*----------------------------------------*/
/*------------------ Global ----------------*/
/*-------------------------------------------*/

html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    position: relative;
}

/*总容器*/
.contain{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.mask{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 110;
    background-color: #000;
    opacity: 0.4;
    display: none;
}

/*----------------------------------------*/
/*------------------ Sidebar ----------------*/
/*-------------------------------------------*/

.sidebar{
    height: 100%;
    width: 220px;
    margin: 0;
    padding: 0;
    left: -220px;
    position: absolute;
    background-color: rgba(0, 9, 9, 0.68);
    font-family: 'Quicksand', sans-serif;
    /*!*transition*!*/
    /*-webkit-transition: transform 1s;*/
    /*-moz-transition: transform 1s;*/
    /*-ms-transition: transform 1s;*/
    /*-o-transition: transform 1s;*/
    /*transition: transform 1s;*/
    /*!*transform*!*/
    /*-webkit-transform: translate(0,0);*/
    /*-moz-transform: translate(0,0);*/
    /*-ms-transform: translate(0,0);*/
    /*-o-transform: translate(0,0);*/
    /*transform: translate(0,0);*/
    z-index: 115;
}

.sidebar-show{
    /*-webkit-transform: translate(200px, 0px);*/
    /*-moz-transform: translate(200px, 0px);*/
    /*-ms-transform: translate(200px, 0px);*/
    /*-o-transform: translate(200px, 0px);*/
    /*transform: translate(200px, 0px);*/
    left: 0px;
}

#nav-list li{
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.sidebar a{
    color: rgb(240, 246, 255);
    outline: 0px auto -webkit-focus-ring-color;
}
#nav-list > li.h2 > a:focus,
#nav-list > li.h2 > a:hover,
#nav-list > li.h2:focus,
#nav-list > li.h2:hover{
    background-color: #525858;
}

.sidebar li.list-item:hover,
.sidebar li.list-item:focus,
.sidebar li.list-item a:focus,
.sidebar li.list-item a:hover{
    background-color: #3D4343;
}

/*----------------------------------------*/
/*------------------ Content ----------------*/
/*-------------------------------------------*/


.head{
    padding: 20px 0;
    font-family: 'Quicksand', sans-serif;
    color: rgb(64, 71, 68);
    font-size: 1.2em;
    font-weight: 200;
    background-color: rgba(217, 217, 217, 0.69);
}

.head a{
    color: rgba(96, 110, 109, 0.69);
}

.head-item{
    padding: 0;
}

.arrow{
    margin: 0;
    padding: 8px 0 0;
    height: 48px;
    width: 48px;
    font-size: 1.5em;
}

#data{
    margin: 0 15px;
}

#avatar{
    display: block;
    background-color: rgb(157, 206, 101);
    width: 50px;
    height: 50px;
    /*单行文字垂直居中，设置line-height=height*/
    line-height: 50px;
    margin: 0 auto;
    font-size: 2.5em;
    font-weight: 200;
    color: rgba(219, 233, 235, 0.83);
}

.hamburger{
    display: block;
    height: 48px;
    width: 48px;
    /*无边框*/
    border: none;
    /*背景透明*/
    background: transparent;
}


.hamburger .hamb-top,
.hamburger .hamb-middle,
.hamburger .hamb-bottom {
    display: block;
    height: 7px;
    left: 0;
    width: 90%;
    background-color: rgb(157, 206, 101);
    margin: 5px 10px 5px 0;
}

/*logout button*/
#logout{
    /*background: transparent;*/
    border: none;
    margin-left: 15px;
    padding-top: 12px;
}


