/*-----------------------------------------------------------*/
/*---------------------- Global -------------------------*/
/*-----------------------------------------------------------*/
body, html, .content, .contain{
    height: 100%;
    /*position: relative;*/
}

.mask{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 110;
    background-color: #000;
    opacity: 0.4;
    display: none;
}


/*-----------------------------------------------------------*/
/*---------------------- panel - place to show -------------------------*/
/*-----------------------------------------------------------*/

.mypanel{
    /*height: calc(100% - 90px);*/
    height: 100%;
    margin: 0 -15px;
    padding: 0;
    display: flex;
    border: none;
    /*position: relative;*/
}

.add-task-button{
    position: absolute;
    z-index: 101;
    top:85%;
}
.add-task-button>span{
    display: inline-block;
    margin: 18px;
}
.panel-item{
    display: inline-block;
    /*background-color: rgba(165,200,238,1);*/
    /*border: 1px solid #000;*/
    width: 33.3%;
}

.summary{
    width: 25%;
    background-color: rgb(38, 138, 128);
}

.things-list{
    width: 35%;
    background-color: rgb(39, 130, 114);
    padding-top: 2px;
}

.description{
    /*display: none;*/
    width: 40%;
    /*background-color: rgb(219, 238, 212);*/
    background-color: #F7F7F7;
}

/*------------- the greeting and preview area-------------*/
/*.button-drawer{*/
    /*width: 100%;*/
    /*height: 50px;*/
/*}*/

/*#id-button-drawer{*/
    /*font-size: 2.6em;*/
    /*color: #FFFFFF;*/
    /*margin-left: 10px;*/
    /*margin-top: 5px;*/
/*}*/


#greet-content{
    font-family: 'Oxygen', sans-serif;
    font-size: 2em;
    color: rgb(240, 247, 247);
    padding-top: 20px;
    padding-left: 12px;
}

#greet-content>.greet-logo{
    font-size: 2em;
    display: inline-block;
    position: relative;
    top: -10px;
}

.greet-content-word{
    display: inline-block;
    margin-left: 5px;
}

#morning{
    font-weight: 600;
}

.word-after-greeting{
    font-size: 0.5em;
    position: relative;
    top: -10px;
    left: 4px;
}

#tasks, #notifications{
    height: 100px;
    border-top: 1px solid rgba(144, 218, 212, 0.53);
    padding-top: 20px;
    padding-left: 25px;
    color: rgb(240, 247, 247);
    font-size: 1.5em;
    font-weight: lighter;
    }

#greet-content:hover,
#greet-content:focus,
#tasks:hover,
#tasks:focus,
#notifications:hover,
#notifications:focus{
    background-color: #85BAAD;
}

#notifications{ border-bottom: 1px solid rgba(144, 218, 212, 0.53); }

/*------------- END the greeting and preview area-------------*/


/*-------------------- things to list --------------*/

#things-list-close{
    color: #FFFFFF;
    margin-right:5px;
}

.task-item{
    padding: 15px;
    background: rgb(201, 222, 223);
    color: #333333;
    margin-bottom: 2px;
    border-radius: 3px;
    cursor: pointer;
    font-size:1.1em;
    line-height:1.2;
    font-family: 'Oxygen', sans-serif;
    /*-webkit-box-shadow: 0  2px 3px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0  2px 3px rgba(0, 0, 0, .4);
    box-shadow: 0  2px 3px rgba(0, 0, 0, .4);*/
}

.task-item:hover{
    background: #ddd;
}

.task-item>span>input[type=checkbox]{
    margin-right: 5px;
}

.task-content{
    display: inline-block;
    color: rgb(78, 75, 75);
    /*font-size: 1.3em;*/
}

/*------ scroll bar of things-list------------------*/
.nano > .nano-content{
    padding-right: 4px;
    padding-left: 6px;
}
.nano > .nano-pane   {
    background: #888;
    visibility: hidden;
}
.nano > .nano-pane > .nano-slider { background: #111; }


/*--------------------- END scroll bar --------------------------*/

/*-------------------- END things to list --------------*/


/*-------------------- description & share --------------*/
.description{
    font-family: 'Oxygen', sans-serif;
    position: relative;
}

/*.part-des{ position: relative;}*/
.part-share{
    position: absolute;
    right: -900px;
    top:0;
    -webkit-transition: right 1s ease;
    -moz-transition: right 1s ease;
    -ms-transition: right 1s ease;
    -o-transition: right 1s ease;
    transition: right 1s ease;
    height: 100%;
    width: 100%;
    background-color: #F7F7F7;
}

.part-share-show{
    right: 0;
    top: 0;
    z-index: 100;
}

/*---------------- common header of part-des & part-des-----------*/
.return{
    width: 100%;
    height: 50px;
}

.des-head{
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    color: #333333;
    font-size: x-large;
    margin: 5px;
}

.close{
    width: 50px;
    height: 50px;
    outline: none;
}

.close>span{ font-size: 2em; }
/*---------------- END common header of part-des & part-des-----------*/

/*----------------- part-des -------------------*/
.part-des .close { display: none; }

.des-item-name, .des-item-time, .des-item-content, .des-item-reminder{
    margin: 10px ;
}
.des-item-name{ margin-top: 0; }
#time-start-outer{ margin-bottom: 3px;}

.description label{
    color: #C3C3D4;
    font-size: medium;
    margin: 10px 0 5px 3px;
}

.des-item-time input
{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

#id-des-item-name{
    font-size: 1.2em;
    font-weight: bold;
}

.des-item-time input{  width: 50%; }

#to{ color: #C3C3D4; }

.des-item-reminder span,
.des-item-reminder span{
    font-size: 1.2em;
    display: inline-block;
    padding-top: 4px;
}

.description input{ border: none; }

#id-des-item-content{ border: none; }

.choice{
    margin-top: 15px;
    margin-left: 10px;
}

#delete-button, #submit-button{
    float: right;
    margin-right: 10px;
}
/*----------------- END part-des -------------------*/

/*----------------- part-share -------------------*/
.master-switch-share-outer{ margin-left: 3px}
.share-item{ margin: 6px; }

.share-item:hover{
    border-color: rgba(82,168,236,.8);
    box-shadow: 0 0 8px rgba(82,168,236,.6);
    border-radius: 3px;
}

.share-choice{
    text-align: right;
}

#share-cancel{}
#share-submit{
    margin-right: 9px;
    margin-left: 3px;
}


/*----------------- END part-share -------------------*/


/*--------------------- END -------------------------------*/



/*----------------------------------------*/
/*------------------ Responsive ----------------*/
/*-------------------------------------------*/

/*============= set the sidebar ===============*/
/*width>=820px*/

@media screen and (min-width: 820px) {
    .sidebar{
        left: 0;
        float: left;
    }
    .content{
        position: relative;
        margin-left: 220px;
    }
}
/*-------- END ----------------*/

/*========== set the content style ==========*/

/*width>=1200px*/
/*finish in js part*/
/*@media screen and (min-width: 1200px) {*/
    /*.summary{*/
        /*width: 25%;*/
        /*min-width: 300px;*/
    /*}*/

    /*.things-list{*/
        /*width: 35%;*/
    /*}*/

    /*.description{*/
        /*width: 40%;*/
    /*}*/
/*}*/

/*------------ hide the description -----*/
/*width<=1199px*/
/*@media screen and (max-width: 1199px) {*/
    /*.description{*/
        /*display: none;*/
    /*}*/
/*}*/
/*-------- END ----------------*/


/*650px<=width<=1199px*/
/*finish in js part*/
/*@media screen and (min-width: 650px) and (max-width:1199px) {*/
    /*.summary{*/
        /*width: 35%;*/
        /*min-width: 300px;*/
    /*}*/
    /*.things-list{*/
        /*width: 65%;*/
    /*}*/
/*}*/

/*------------ small size -------------*/
/*width<=649px*/
@media screen and (max-width: 649px) {
    .mypanel > .things-list > .nano-content{
        height: calc(100% - 51px);
        top: 51px;
    }

}


/*-------------- set the min-width of page ----------*/
/*width<=300px*/
@media screen and (max-width: 300px) {
    body{
        min-width: 300px;
    }

}

/*==================== END ============================*/
