/*-----------------------------------------------------------*/
/*---------------------- Global -------------------------*/
/*-----------------------------------------------------------*/
body, html, .content, .contain{
    height: 100%;
}


/*-----------------------------------------------------------*/
/*---------------------- panel - place to show -------------------------*/
/*-----------------------------------------------------------*/

.mypanel{
    /*height: calc(100% - 90px);*/
    height: 100%;
    margin: 0 -15px;
    padding: 0;
    display: flex;
    border: none;
}
.panel-item{
    display: inline-block;
    /*background-color: rgba(165,200,238,1);*/
    /*border: 1px solid #000;*/
    width: 33.3%;
}

.summary{
    width: 25%;
    background-color: rgb(38, 138, 128);
}

.things-list{
    width: 35%;
    background-color: rgb(39, 130, 114);
    padding-top: 2px;
}

.description{
    /*display: none;*/
    width: 40%;
    background-color: rgb(219, 238, 212);
}

.button-drawer{
    width: 100%;
    height: 50px;
    display: none;
}

#greet-content{
    font-family: 'Oxygen', sans-serif;
    font-size: 2em;
    color: rgb(240, 247, 247);
    margin-top: 20px;
    padding-left: 12px;
}

#greet-content>.greet-logo{
    font-size: 2em;
    display: inline-block;
    position: relative;
    top: -10px;
}

.greet-content-word{
    display: inline-block;
    margin-left: 5px;
}

#morning{
    font-weight: 600;
}

.word-after-greeting{
    font-size: 0.5em;
    position: relative;
    top: -10px;
    left: 4px;
}

#tasks, #notifications{
    height: 100px;
    border-top: 1px solid rgba(144, 218, 212, 0.53);
    padding-top: 20px;
    padding-left: 25px;
    color: rgb(240, 247, 247);
    font-size: 1.5em;
    font-weight: lighter;
    }

#notifications{
    border-bottom: 1px solid rgba(144, 218, 212, 0.53);
}

/*-------------------- things to list --------------*/

.task-item{
    padding: 15px;
    background: rgb(201, 222, 223);
    color: #333333;
    margin-bottom: 2px;
    border-radius: 3px;
    cursor: pointer;
    font-size:1.1em;
    line-height:1.2;
    font-family: 'Oxygen', sans-serif;
    /*-webkit-box-shadow: 0  2px 3px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0  2px 3px rgba(0, 0, 0, .4);
    box-shadow: 0  2px 3px rgba(0, 0, 0, .4);*/
}

.task-item:hover{
    background: #ddd;
}

.task-item>span>input[type=checkbox]{
    margin-right: 5px;
}

.task-content{
    display: inline-block;
    color: rgb(78, 75, 75);
    /*font-size: 1.3em;*/
}

/*------------------- scroll bar ------------------------*/
.nano > .nano-content{
    padding-right: 4px;
    padding-left: 6px;
}
.nano > .nano-pane   { background: #888; }
.nano > .nano-pane > .nano-slider { background: #111; }
/*--------------------- END -------------------------------*/






/*----------------------------------------*/
/*------------------ Responsive ----------------*/
/*-------------------------------------------*/

/*============= set the sidebar ===============*/
/*width>=820px*/
@media screen and (min-width: 820px) {
    .sidebar{
        left: 0;
        float: left;
    }
    .content{
        position: relative;
        margin-left: 220px;
    }
}
/*-------- END ----------------*/

/*========== set the content style ==========*/

/*width>=1200px*/
@media screen and (min-width: 1200px) {
    .summary{
        width: 25%;
        min-width: 300px;
    }

    .things-list{
        width: 35%;
    }

    .description{
        width: 40%;
    }
}

/*------------ hide the description -----*/
/*width<=1199px*/
@media screen and (max-width: 1199px) {
    .description{
        display: none;
    }
}
/*-------- END ----------------*/


/*650px<=width<=1199px*/
@media screen and (min-width: 650px) and (max-width:1199px) {
    .summary{
        width: 35%;
        min-width: 300px;
    }
    .things-list{
        width: 65%;
    }
}

/*------------ hide the things-list -------------*/
/*width<=649px*/
@media screen and (max-width: 649px) {
    .summary{
        width: 100%;
    }
    .things-list{
        display: none;
    }
}


/*-------------- set the min-width of page ----------*/
/*width<=300px*/
@media screen and (max-width: 300px) {
    body{
        min-width: 300px;
    }

}

/*==================== END ============================*/
